<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../static/css/fonts.css" />
    <link rel="stylesheet" href="../static/css/custom.css" />
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css"
    />
    {% block links %}{% endblock links %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div
      class="container-fluid p-0 py-2 bg-dark text-light text-center fw-bold fst-italic"
    >
      Enjoy a free delivery!
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-sm">
        <a class="navbar-brand fw-bold fs-3" href="#"
          ><i class="bi bi-bicycle"></i> E-bikes Ind.</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-dark" aria-current="page" href="{{ url_for('index.index') }}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{ url_for('news') }}">News</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-dark"
                href="{{ url_for('shop') }}"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Shop
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('shop', category='e-scooters') }}">E-scooters</a></li>
                <li><a class="dropdown-item" href="{{ url_for('shop', category='e-scooters') }}">E-bikes</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{{ url_for('shop', category='e-scooters') }}">Cyclo-bike</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{ url_for('index.contacts') }}">Contacts</a>
            </li>
          </ul>
          <div class="d-flex">
            <a class="nav-link text-dark p-0" href="{{ url_for('cart')}}"
              >Cart<i class="bi bi-basket2-fill ps-2"></i
            ></a>
          </div>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock content %}
    <div class="w-100 mt-5 bg-light">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <div class="logo">
                <a class="fw-bold fs-3 text-decoration-none text-dark" href="#">
                  <i class="bi bi-bicycle"></i> 
                  E-bikes Ind.</a>
              </div>

              <p id="current-time"></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h3>Quick Links</h3>

              <ul class="quick-links">
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Customer Services</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h3>Information</h3>

              <ul class="information-links">
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Customer Services</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h3>Contact Us</h3>

              <ul class="footer-contact-info">
                <li>
                  <i class="fas fa-map-marker-alt"></i> Location: 2750 Quadra
                  Street Victoria, Canada
                </li>
                <li>
                  <i class="fas fa-phone"></i> Call Us:
                  <a href="tel:+1234567898">(+123) 456-7898</a>
                </li>
                <li>
                  <i class="far fa-envelope"></i> Email Us:
                  <a href="mailto:support@e-bikes.com">support@e-bikes.com</a>
                </li>
                <li>
                  <i class="fas fa-fax"></i> Fax:
                  <a href="tel:+123456">+123456</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      let time = document.querySelector('#current-time');

      function setTime() {
        let date = new Date();
        let dateString = date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric', weekday: 'long' });
        let timeString = date.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit' });
        time.innerHTML = `${dateString}, ${timeString}`;
      }
      setTime();
      setInterval(setTime, 1000);
    </script>
  </body>
</html>
