{% extends 'base.html' %}
{% block title %}Contacts{% endblock title %}
{% block links %}
<style>
    body {
        height: 100dvh;
    }
    .container {
        height: 400px;
    }
</style>
{% endblock links %}
{% block content %}
<div class="w-100">
    <div class="container mt-5">
        <div class="row pt-2">
            <div class="col">
                <h1 class="fs-4">Contacts</h1>
                <ul>
                    <li>Address: 2750 Quadra Street Victoria, Canada</li>
                    <li>Phone: (+123) 456-7898</li>
                    <li>Email: support@e-bikes.com</li>
                    <li>Fax: +123456</li>
                </ul>
            </div>
            <div class="col">
                <div id="map" style="width: 100%; height: 300px;"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map", {
            center: [53.902275, 27.561879],
            zoom: 12
        });

        myMap.geoObjects.add(new ymaps.Placemark([53.902275, 27.561879], {
            balloonContent: "E-bikes Ind."
        }));
    }
</script>
{% endblock content %}